/* You can copy this file to your server and change the color values to whatever you want.
 * Note that any change on codeberg will instantly appear in your browser as well this way. */

@import url('https://grunfink.codeberg.page/snac2/@master/doc/style.css');
@import url('https://haijo7.codeberg.page/snac-custom-css/@main/style.css');

:root
{
	--color-main: #2966a8;
	--color-alt: #e7ddcf;

	--color-main-hover: #264a88;

	--background-gradient-start: #0b122f;
	--background-gradient-end: #28283c;

	--font: ubuntu, sans;

	--border-radius: 20px;

	--box-shadow: 15px 15px 20px #00000050;
}

