:root
{
	--color-main: #2966a8;
	--color-alt: #e7ddcf;

	--color-main-hover: #264a88;

	--background-gradient-start: #0b122f;
	--background-gradient-end: #28283c;

	--font: ubuntu, sans;

	--border-radius: 20px;

	--box-shadow: 15px 15px 20px #00000050;
}

body
{
	font-family: var(--font);
	background-color: var(--background-gradient-start);
	background: linear-gradient(to bottom right, var(--background-gradient-start), var(--background-gradient-end));
	background-attachment: fixed;
	color: var(--color-alt);
}

.snac-top-nav
{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: #0000007f;
	color: #00000000;
	padding: 10px;
	width: 15vw;
	box-shadow: var(--box-shadow);
}

.snac-top-nav a
{
	color: var(--color-alt);
	background-color: var(--color-main);
	border-radius: var(--border-radius);
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
	text-transform: capitalize;
	transition: background-color 0.5s;
}

.snac-top-nav img
{
	border-radius: 100%;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.snac-top-controls
{
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: #0000007f;
	padding: 10px;
	width: 15vw;
	overflow: scroll;
	box-shadow: var(--box-shadow);
}

.snac-post
{
	background-color: #0000007f;
	padding: 20px;
	margin-bottom: 30px;
	border: none;
	box-shadow: var(--box-shadow);
}

.snac-post p
{
	margin-top: 0;
}

.snac-post .snac-content p img, .snac-post
{
	border-radius: var(--border-radius);
}

.snac-post .snac-content img
{
	max-height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.snac-post .snac-content [style="height: 1em"]
{
	display: initial;
}

.snac-avatar
{
	border-radius: var(--border-radius);
}

a
{
	color: var(--color-main);
}

.snac-textarea, input[type=text], input[type=number], input[type=password]
{
	border-radius: var(--border-radius);
	border-style: solid;
	border-color: var(--color-main);
	padding-top: 20px;
	color: var(--color-alt);
	background-color: #00000000;
}

.snac-note > form > p > input
{
	max-width: 13vw;
}

input
{
	font-family: var(--font);
	background-color: var(--color-main);
	color: var(--color-alt);
	font-weight: bold;
	border-radius: var(--border-radius);
	border-style: none;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
	transition: background-color 0.5s;
}

.p-author, .mention
{
	font-weight: bold;
	text-decoration: none;
}

.snac-children
{
	border-color: var(--color-alt);
	border-left-style: dashed;
	border-width: 2px;
	border-radius: var(--border-radius);
	padding-top: 20px;
	padding-bottom: 20px;
}

form > [name="action"]:hover, [type="submit"]:hover, .snac-top-nav a:hover
{
	cursor: pointer;
	background-color: var(--color-main-hover);
}

.snac-origin a
{
	text-decoration: none;
}

.snac-author-tag
{
	color: var(--color-alt);
	opacity: 50%;
}

.snac-pubdate
{
	float: right;
}

.snac-score
{
	font-weight: bold;
	padding: 10px;
}

.snac-child .snac-score
{
	display: contents;
}

.snac-content-attachments
{
	display: flex;
}

.snac-content-attachments *
{
	margin: auto;
}

